/* reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}      

body {
    font-size: 50px;
    color: black;
    background-color: #05100432;
}

/*Enleve les puces et remet les marges à 0* enleve les lignes*/
a {
    text-decoration: none;
}
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* En -tete*/
.header {
    display: block;
    margin: 10px;
    text-align: center;
    border-bottom: thick double #f9fcfc;
    background-color: rgba(0, 0, 0, 0.842);   
}

.header li {
    display:inline-block;
    padding-bottom: 10px;
  }
  .header a {
    margin: 15px;
    letter-spacing: 2px;
    color: #cab4b4eb;
    font-family:"cormorant";
    font-optical-sizing: auto;
    font-size: 40px;
    font-style:italic;
    font-weight: 300;
  }

.title {
   padding:60px;
   margin: 0;
   color: #cab4b4eb;
   font-family:"cormorant";
   font-optical-sizing: auto;
   font-size: 55px;
   font-style:italic;
   font-weight: 500;
}
@media screen and (min-width:981px) {
    .title { 
     padding: 50px; 
    }   
}
 /*page-index en dessous du header*/
.profil {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}
.présentation {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5vh;
}

@media screen and (min-width:981px){
    .pp_container {
        display: flex;
        font-size: 35px; 
        margin-bottom: 20vh;   
    }   
   
}
/*-------------------------------------------------*/
/* Mon parcours */

.parcours-texte {
    text-align: center;
    padding: 50px;
}

.cv-image {
    display: none;
  }

 .cv-ico {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 15%;
    padding-bottom: 15vh;
 }

@media screen and (min-width:981px ) {
      .cv-image {
        display: block;
        margin: 0 auto;
        padding-bottom: 10%;
        width:700px;
        height: auto;
      }
      .cv-ico {
        display:none;
      }
      .parcours-texte {
            text-align:center;
            font-size: 30px;
            margin-top: 5px;
      }
    }
/*----------------------------------------------------------------*/
/* mes résalisations*/
.présentation_mes_réalisations {
    text-align: center;
    padding: 50px;
}
.ifram-container {
    display:flex;
    justify-content: center;
    padding-bottom: 5vh; 
}

@media screen and (min-width:981px){
    .présentation_mes_réalisations {
        font-size: 30px;
        margin-top: 5px;
    }  
}
/*--------------------------------------------------------------*/
/*Contact*/
.contact-container {
    display: block;
    text-align: center;   
    margin: 50px auto;
    
}
.contact-form {
    display: block;
    text-align: center;
}

/*Style contact*/
.contact-form {
    width: 750px;
    height: 75vh;
    margin: auto;
    line-height: 2;
}

.contact-form form {
    display: flex;
    flex-direction: column; /*direction des cadres*/
}

.contact-form input, .contact-form textarea {
    margin-bottom: 40px;
    padding: 30px;
    border: 2px solid black;
}

.contact-form button {
    padding: 10px;
    margin: auto;
    width: 200px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (min-width:981px) {
    .contact-form {
        margin-bottom: 50vh;
        font-size: 35px;
    }
    .contact-container {
        font-size: 35px;
    }

}

/*Bas de page*/
.footer {
  display: flex;
  padding: 45px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.842);   
}

.linkedin-icon {
    color: #0077b5; /* Couleur de l'icône LinkedIn */
    font-size: 24px; /* Taille de l'icône */
    text-decoration: none; /* Supprime la décoration du lien */
    margin: 0 10px; /* Marge autour de l'icône */
}
